use Mix.Config

config :toggl_reader,
  api_token: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  start: "2017-01-01",
  finish: "2017-01-31",
  workspace: "xxxxxx",
  client_name: "xxx"
  workspace: "xxxxxx"
